
body{
    background-color: black;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
nav{
    background-color: #12161C;
    font-family: 'Roboto', sans-serif;

}
nav .btn{
    border-radius:0px ;
    background-color: transparent;
    border-color: transparent;
}
nav ul{
    padding: 0 0;
}
section .card{
     padding: 5px;
     margin: 0;
     width: 100%;
     border-radius:8px;
     display: relative;
 }
section .card-header{
    padding:0;
    color: gray;
    font-size: small;
}
section .card-body{
    padding: 0;
}
section .card-columns{
    padding: 0;
    margin: 0;
    width: 100%;
}

section .nav input{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: black;
    border-color: transparent;
    color: white;

}
.container-fluid{
    font-family: 'Ropa Sans', sans-serif; !important;
}

thead {
    color: gray;
    font-size: small;
    text-decoration: none;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
input:focus,input:active {
    outline: none;
    box-shadow: none;
}
.table{
    background-color:#12161C ;
}
.table td{
    border-color: transparent;
    color: whitesmoke;
    padding: 1px;
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-brand{
    margin-left: 15px;
    font-size: 25px;
}
/* cards  */
.card{
    background-color:#12161C;
    border-radius: 0;
    position: relative;
}

.card-table{
    height: 100%;
}
.card .btn{
    border-radius: 2px;
    border-color: transparent;
    font-size: 1rsem;
    align-self: top;
}
.card .nav-item{
    padding: 0 5px ;
}
.card-body{
    font-size: small;
    overflow: hidden scroll ;
    position: relative;
}

.card-body::-webkit-scrollbar {
    display: none;
}
/* card 1 */
.card-1 .nav-link{
    padding: 0 5px;
}
.card-1 .card-body{
    height: 180px;
}
 .dataTables_filter{
    display: none;
}

.card-2 .card-body{
    height: 182px;
}
.card-3 .card-body{
    height: 412px;
}
.card-3 .card-header i{
    padding:  5px 2px;
    color: grey;
}
.card-3 i{
    background-color: transparent;
    margin: 0;
}
.card-3 .dataTables_wrapper {
    height: 100%;

}
.card-5 .nav{
    background-color: #12161C;
    padding-bottom: 1px;
}
.card-5 .btn{
    padding: 0 10px 0 8px;
    border-color: transparent;
}
.card-5 .dataTables_wrapper {
    height: 210px;

}
.card-5  i{
    margin-right: 5px;
    margin-left: 2px;
    padding: 0 5px 2px 8px;
    color: #808080;
}
.card-6{
    background-color: #12161C;
    padding: 2px 16px;
}
.card-6 .form-top .btn{
    margin-right: 5px;
    border-color: transparent;
    padding:0 5px;
}
.card-6 .sell-form .btn{
    color: white;
    font-size: medium;
    background: rgb(219,86,136);
    background: linear-gradient(90deg, rgba(219,86,136,1) 0%, rgba(226,40,35,1) 35%, rgba(149,0,23,1) 100%);
}
.card-6 .buy-form .btn{
    color: white;
    font-size: medium;
    background: rgb(84,158,138);
    background: linear-gradient(90deg, rgba(84,158,138,1) 0%, rgba(15,159,53,1) 35%, rgba(0,255,110,1) 100%);
}
.card-6 .form-top i{
    margin-right: 10px;
    color: #808080;
}
#secondSection form{
     color: grey;
     font-size: small;
 }
#secondSection label{
   margin: 0;
}
#secondSection form input{
    background-color: black;
    border-color: transparent;
    color: white;
    font-weight: bold;
 }
.input-group-text{
    color: grey;
    background-color: black;
    border-color: black;
    font-size: small;
    border-width: 0;
    padding: 0 16px;
   border-radius: 5px;
}

.fixed-table-loading{
    display: none;
}
.dataTables_wrapper {
   overflow-x: hidden;
    height: 210px;
    overflow-y: scroll;
}
.dataTables_wrapper::-webkit-scrollbar{
    display: none;
}

.dataTables_wrapper .row{
    background-color: #12161C;
    color: grey;
    font-size: small;
}
.dataTables_length{
    display: none;
}
.dataTables_filter{
    padding: 0 10px;
}
.dataTables_filter input{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: black;
    border-color: transparent;
    color: white;
}
.dataTables_filter input:hover{
    background-color: black;
    border-color: transparent;
    color: white;
}
.dataTables_filter input:focus{
    outline:none;
    background-color: black;
    border-color: transparent;
    color: white;
}
.card-nav-search{
    margin:0;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    border-color: transparent;
    color: white;

}
.card-2-main-data1{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px; 
    
}
.card-2-main-data2{
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px; 
}

.tradingview-widget-copyright{
    display: none;
}



